<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>게시글 목록</title>
</head>
<body>
    <h1>게시글 목록</h1>
    <table border="1">

        <tr>
            <td>글번호</td>
            <td>제목</td>
            <td>작성자</td>
            <td>등록일자</td>
        </tr>

        <tr th:each="board : ${list}">
            <td th:text="${board.boardNo}"></td>
            <td th:text="${board.title}"></td>
            <td th:text="${board.writer}"></td>
            <td th:text="${board.regDate}"></td>
        </tr>
    </table>

</body>
</html>