<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="aloha.mapper.BoardMapper">
<!--    <resultMap id="boardDTO" type="BoardDTO">-->
<!--        <association property="option" javaType="Option">-->

<!--        </association>-->
<!--    </resultMap>-->
    <!--ORM 프레임워크: mybatis_xml로 쿼리를 분리해주는 것. JPA -->
    <!-- 게시글 목록-->
    <!-- id값이 BoardMapper에 적은 메서드와 같은 걸 매핑  -->
    <select id="list" resultType="Board">
        SELECT *
        FROM board
        ORDER BY board_no DESC
    </select>

    <!-- 게시글 목록 검색-->
    <select id="search" resultType="Board">
        SELECT *
        FROM board
        WHERE board_no > 0
        AND (
                <if test="optionCode == 0">
                    title LIKE CONCAT('%', #{keyword}, '%')
                    OR content LIKE CONCAT('%', #{keyword}, '%')
                    OR writer LIKE CONCAT('%', #{keyword}, '%')
                </if>
                <if test="optionCode == 1">
                    title LIKE CONCAT('%', #{keyword}, '%')
                </if>
                <if test="optionCode == 2">
                    content LIKE CONCAT('%', #{keyword}, '%')
                </if>
                <if test="optionCode == 3">
                    title LIKE CONCAT('%', #{keyword}, '%')
                OR content LIKE CONCAT('%', #{keyword}, '%')
                </if>
                <if test="optionCode == 4">
                    writer LIKE CONCAT('%', #{keyword}, '%')
                </if>
            )
        ORDER BY board_no DESC
    </select>
    <!--게시글 목록 페이징-->
    <select id="page" resultType="Board">
        SELECT *
        FROM board
        ORDER BY board_no DESC
        LIMIT #{startRowIndex}, #{rowsPerPage}

    </select>
    <!--게시글 목록 - 검색/페이징 -->
    <select id="boardList" resultType="Board">
        SELECT *
        FROM board
        WHERE board_no > 0
        AND (
            <if test="boardDTO.option.optionCode == 0">
                title LIKE CONCAT('%', #{boardDTO.option.keyword}, '%')
                OR content LIKE CONCAT('%', #{boardDTO.option.keyword}, '%')
                OR writer LIKE CONCAT('%', #{boardDTO.option.keyword}, '%')
            </if>
            <if test="boardDTO.option.optionCode == 1">
                title LIKE CONCAT('%', #{boardDTO.option.keyword}, '%')
            </if>
            <if test="boardDTO.option.optionCode == 2">
                content LIKE CONCAT('%', #{boardDTO.option.keyword}, '%')
            </if>
            <if test="boardDTO.option.optionCode == 3">
                title LIKE CONCAT('%', #{boardDTO.option.keyword}, '%')
                OR content LIKE CONCAT('%', #{boardDTO.option.keyword}, '%')
            </if>
            <if test="boardDTO.option.optionCode == 4">
                writer LIKE CONCAT('%', #{boardDTO.option.keyword}, '%')
            </if>
        )
        ORDER BY board_no DESC
        LIMIT #{boardDTO.page.startRowIndex}, #{boardDTO.page.rowsPerPage}
    </select>
    <!-- 게시글 쓰기 -->
    <insert id="insert">
        INSERT INTO board ( title, writer, content )
        <!-- getter/setter가 있어야 매핑이 됨-->
        VALUES ( #{title}, #{writer}, #{content} )
    </insert>
    <!--게시글 읽기-->
    <select id="read" resultType="Board">
        SELECT *
        FROM board
        WHERE board_no = #{boardNo}
    </select>
    <!--게시글 수정 -->
    <update id="update">
        UPDATE board
        SET title = #{title}
            ,writer = #{writer}
            ,content = #{content}
        WHERE board_no = #{boardNo}
    </update>
    <!--게시글 삭제-->
    <delete id="delete">
        DELETE FROM board
        WHERE board_no = #{boardNo}
    </delete>
    <!--게시글 개수 조회-->
    <select id="count" resultType="int">
        SELECT COUNT(*)
        FROM board
    </select>

    <!--검색어를 포함하는 게시글 개수 조회-->
    <select id="countWithKeyword" resultType="int">
        SELECT COUNT(*)
        FROM board
        WHERE board_no > 0
        AND (
            <if test="optionCode == 0">
                title LIKE CONCAT('%', #{keyword}, '%')
                OR content LIKE CONCAT('%', #{keyword}, '%')
                OR writer LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="optionCode == 1">
                title LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="optionCode == 2">
                content LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="optionCode == 3">
                title LIKE CONCAT('%', #{keyword}, '%')
                OR content LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="optionCode == 4">
                writer LIKE CONCAT('%', #{keyword}, '%')
            </if>
        )
    </select>
</mapper>